<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">

        <link rel="stylesheet" href="/css/styles.css">
        </head>


<body>
    {{>header}}
<div class="main">




<img class="portrait" src="/images/me.jpg" alt="Me" auto;>
</div>

{{>footer}}

</body>


</html>


