<!DOCTYPE html>

<html>

<head>
   <title>Home</title>
   <link rel="icon" href="/images/weather.png">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<div class="weather-body" style="display: none;">
<div class="card">

{{>weather}}

   </div>
   </div>
      
<div class="main-body">
<div class="card" >
   <h2 class="index-header" >Weather details at your fingertips!</h2>
   <p class="weather-app-info">


      This app was made using Mapbox, Weatherstack, Google Places, Socket.io, Node and Express.
      It's a noDB App that makes asyncronous requests to the 3 APIs to forward (or reserve) geocode your input,
      poll for weather data and grab an image of the location requested. 
   </p>


   <p id="loadingMessage" class="bottom-card"></p>

</div>

 <div class="form-box">
      <form action="">
         <input class="form-input" type="text" placeholder="Location...">
         <button class="btn" id="searchButton" type="submit">Search</button>
         <button class="btn" id="searchByLocation">Search By Location</button>

      </form>
      </div>






     

   </div>
   <script src="/socket.io/socket.io.js"></script>
      <script src="/js/app.js"></script>

</body>


</html>